In [15]:
import pandas as pd

# Raw Dataset

In [16]:
df = pd.read_csv("../data/raw/airplane_dataset.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12377 entries, 0 to 12376
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Model                        12377 non-null  object
 1   Year_of_Manufacture          12377 non-null  int64
 2   Number_of_Engines            12377 non-null  int64
 3   Engine_Type                  12377 non-null  object
 4   Capacity                     12377 non-null  int64
 5   Range_(km)                   12377 non-null  int64
 6   Fuel_Consumption_(L/hour)    12377 non-null  float64
 7   Hourly_Maintenance_Cost_($)  12377 non-null  float64
 8   Age                          12377 non-null  int64
 9   Sales_Region                 12377 non-null  object
 10  Price_($)                    12377 non-null  float64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.0+ MB

# Engineered Dataset

In [18]:
df_engineered = pd.read_csv("../data/engineered/engineered_dataset.csv")

In [19]:
df_engineered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12377 entries, 0 to 12376
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Model                        12377 non-null  object
 1   Year_of_Manufacture          12377 non-null  int64
 2   Number_of_Engines            12377 non-null  int64
 3   Engine_Type                  12377 non-null  object
 4   Capacity                     12377 non-null  int64
 5   Range_(km)                   12377 non-null  int64
 6   Fuel_Consumption_(L/hour)    12377 non-null  float64
 7   Hourly_Maintenance_Cost_($)  12377 non-null  float64
 8   Age                          12377 non-null  int64
 9   Sales_Region                 12377 non-null  object
 10  Price_($)                    12377 non-null  float64
 11  Company                      12377 non-null  object
 12  Age_Group                    12377 non-null  object
 13  HMC_per_person               12377 non-null  float64
 14  Engine_Power_Factor          12377 non-null  int64
 15  Price_per_Seat               12377 non-null  float64
 16  Seats_per_Engine             12377 non-null  float64
 17  Company_Popularity           12377 non-null  int64
 18  FuelCost_Maint_Index         12377 non-null  float64
 19  Engine_to_Capacity           12377 non-null  float64
dtypes: float64(8), int64(7), object(5)
memory usage: 1.9+ MB

# Preprocessed Dataset

In [20]:
df_preprocessed = pd.read_csv("../data/preprocessed/preprocessed_dataset.csv")

In [21]:
df_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12377 entries, 0 to 12376
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Model                        12377 non-null  float64
 1   Year_of_Manufacture          12377 non-null  float64
 2   Number_of_Engines            12377 non-null  float64
 3   Capacity                     12377 non-null  float64
 4   Range_(km)                   12377 non-null  int64
 5   Fuel_Consumption_(L/hour)    12377 non-null  float64
 6   Hourly_Maintenance_Cost_($)  12377 non-null  float64
 7   Age                          12377 non-null  float64
 8   Sales_Region                 12377 non-null  float64
 9   Price_($)                    12377 non-null  float64
 10  HMC_per_person               12377 non-null  float64
 11  Engine_Power_Factor          12377 non-null  float64
 12  Price_per_Seat               12377 non-null  float64
 13  Seats_per_Engine             12377 non-null  float64
 14  Company_Popularity           12377 non-null  float64
 15  FuelCost_Maint_Index         12377 non-null  float64
 16  Engine_to_Capacity           12377 non-null  float64
 17  Engine_Type_Piston           12377 non-null  float64
 18  Engine_Type_Turbofan         12377 non-null  float64
 19  Company_Airbus               12377 non-null  float64
 20  Company_Boeing               12377 non-null  float64
 21  Company_Bombardier           12377 non-null  float64
 22  Company_Cessna               12377 non-null  float64
 23  Age_Group_0-10               12377 non-null  float64
 24  Age_Group_10-20              12377 non-null  float64
 25  Age_Group_20-30              12377 non-null  float64
 26  Age_Group_30-40              12377 non-null  float64
 27  Age_Group_40+                12377 non-null  float64
dtypes: float64(27), int64(1)
memory usage: 2.6 MB